body{
    background-color: black;
}
.nav-item{
    font-size: larger;
}
form{
    display: inline;
}
.main a{
    background-color: rgb(82, 82, 82);
    padding: 0.5em 0.7em;
    opacity: 1;
    border-radius: 0.2em;
    color: white;
    text-decoration: none;
}
.main{
    background-image: linear-gradient(to top,rgba(0,0,0,1),rgba(0,0,0,0));
}
.mainImage{
    max-width: 100%;
    height: auto;
}
.overlay{
    position: absolute;
    bottom :10%;
    width: 50%;
    color: white;
}

.contain{
    margin: 4em;
}
.content{
    margin-bottom: 50px;
    border-radius: 10px;
    background-size: cover;
    position: relative;
    height:350px;
    width: 250px;
    text-decoration: none;
    transition: .25s;
    -webkit-transition: 0.25s;
}

.box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}
.details{
    text-decoration: none;
    position: relative;
    top: 30%;
    color: white;
    opacity: 0;
    transition: 1s;
}
.content:hover .details{
    opacity: 1;
}
.content:hover {
    margin-bottom: 0px;
    width: 300px;
    height: 400px;
    transform: translateX(25px);
    transform: translateY(-25px);
    border: solid 1px rgb(97, 255, 5);
}
.btn:hover{
    color: rgb(97, 255, 5);
}
h3{
    padding-left: 5px;
    border-left: solid 3px rgb(97, 255, 5);
    color: rgb(255, 255, 255);
}
